h1,
h2,
h3,
p {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primery-white-color);
  color: var(--primery-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --primery-white-color: #FFFFFF;
  --accent-color: #2196F3;
  --primery-color: #2F303A;
  --light-grey: #F5F4FA;
  --text-black: #000000;
}

.form__check, .backdrop__modal--close, .subscribe button, .join__svg, .join__list, .client__svg, .client__list, .link__hover, .header {
  display: flex;
  align-items: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  margin-top: 0;
  margin-bottom: 0;
}

header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__navigation {
  display: flex;
}

.header__menu {
  display: flex;
}

.header__menu li:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  display: flex;
  margin-left: 315px;
}

.header__contact {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact:hover, .header__contact:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header__icon {
  margin-right: 10px;
  align-items: center;
  fill: currentColor;
}

.active::after {
  content: "";
  opacity: active;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.email {
  margin-right: 40px;
  color: var(--primery-text-color);
}

.tel {
  color: var(--primery-text-color);
}

.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-black);
  text-decoration: none;
  margin-right: 80px;
}

.accent {
  color: var(--accent-color);
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--primery-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  color: var(--primery-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero__button {
  background-color: var(--accent-color);
  color: var(--primery-white-color);
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  min-width: 216px;
  height: 50px;
  display: inline-block;
  vertical-align: bottom;
  border-radius: 6px;
  padding: 10px 32px;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
}

.features__list li {
  width: 270px;
  margin-right: 30px;
}
.features__list li:last-child {
  margin-right: 0px;
}

.features__icon {
  background-color: var(--light-grey);
  width: 270px;
  height: 120px;
  justify-content: center;
  display: flex;
  border-radius: 4px;
}

.features__svg {
  margin-top: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.features__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-top: 30px;
}

.features__text {
  color: var(--primery-text-color);
}

.description {
  background-color: var(--primery-white-color);
  padding-bottom: 94px;
}

.description__title {
  margin-bottom: 50px;
}

.description__card {
  display: flex;
}

.description__card {
  display: flex;
}

.description__image {
  width: 370px;
  position: relative;
}
.description__image:not(:last-child) {
  margin-right: 30px;
}

.description__text {
  position: absolute;
  bottom: 0;
  min-height: 70px;
  width: 100%;
  padding-top: 24px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--light-grey);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title--first {
  margin-bottom: 50px;
}

.portfolio {
  display: flex;
}

.portfolio__card {
  background-color: var(--primery-white-color);
  min-height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.portfolio__card:not(:last-child) {
  margin-right: 30px;
}

.portfolio__text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  padding-bottom: 10px;
}

.team__text {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.link {
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
}

.link__soc {
  display: flex;
  height: 44px;
  width: 44px;
}
.link__soc:not(:last-child) {
  margin-right: 10px;
}

.link__hover {
  justify-content: center;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  justify-content: center;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link__hover:hover, .link__hover:focus {
  background-color: var(--accent-color);
  fill: var(--primery-white-color);
}

.client__title {
  margin-top: 94px;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.client__list {
  justify-content: center;
  margin-bottom: 94px;
}

.client__icon {
  width: 170px;
  height: 90px;
}
.client__icon:not(:last-child) {
  margin-right: 30px;
}

.client__svg {
  width: 100%;
  height: 100%;
  justify-content: center;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: currentColor;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__svg:hover, .client__svg:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer {
  background-color: var(--primery-color);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.footer__logo {
  display: inline-block;
}

.footer__title {
  display: inline-block;
  padding-bottom: 20px;
}

.white {
  color: var(--primery-white-color);
}

.address li:not(:last-child) {
  padding-bottom: 9px;
}

.address__nav {
  color: var(--primery-white-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  padding-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__nav:hover,
.address__nav :focus {
  color: var(--accent-color);
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__linkk:focus {
  color: var(--accent-color);
}

.join {
  display: inline-block;
  margin-left: 94px;
}

.join__title {
  margin-bottom: 20px;
  color: var(--primery-white-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.join__list {
  justify-content: center;
}

.join__icon {
  height: 44px;
  width: 44px;
}
.join__icon:not(:last-child) {
  margin-right: 10px;
}

.join__svg {
  border-radius: 50px;
  justify-content: center;
  fill: currentColor;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primery-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__svg:hover, .join__svg:focus {
  background-color: var(--accent-color);
}

.subscribe {
  margin-left: 90px;
}

.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-white-color);
  margin-bottom: 20px;
}

.subscribe__input {
  display: flex;
}

.subscribe input {
  color: var(--primery-white-color);
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 10px;
  padding: 15px;
  background-color: var(--primery-color);
}

.subscribe button {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 28px;
  border: none;
}

.subscribe__icon {
  fill: currentColor;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .backdrop__modal {
  transform: translate(-50%, -50%) scale(0);
}

.backdrop__modal {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primery-white-color);
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__modal--close {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.backdrop__icon {
  width: 100%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__icon:hover {
  fill: var(--accent-color);
}

.backdrop__title {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-black);
}

.form {
  width: 448px;
  margin-left: 40px;
  margin-right: 40px;
}

.form__group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__group label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding: 14px;
  padding-left: 42px;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  border: 1px solid var(--accent-color);
}
.form__input:focus ~ svg {
  fill: var(--accent-color);
}

.form__svg {
  position: absolute;
  top: 55%;
  left: 15px;
  display: inline-block;
}

.form__group textarea {
  padding: 12px 16px;
}

.form__comment {
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__comment:focus {
  border: 1px solid var(--accent-color);
}

.form__check {
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;
}

.form__agree {
  color: var(--accent-color);
}

.form__checkbox--svg {
  position: absolute;
  border: 1.8px solid var(--text-black);
  border-radius: 2px;
  fill: var(--primery-white-color);
  background-color: var(--primery-white-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__checkbox--svg:checked ~ .form__checkbox--svg, .form__checkbox:focus ~ .form__checkbox--svg {
  background-color: var(--accent-color);
  border: 1.8px solid var(--accent-color);
  background-origin: border-box;
}

.form__check label {
  margin-left: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.form__button {
  min-width: 200px;
  min-height: 50px;
  margin-left: 123px;
  margin-bottom: 40px;
  background-color: var(--accent-color);
  color: var(--primery-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.hero__portfolio {
  border: 1px solid #ECECEC;
  padding-top: 94px;
  padding-bottom: 94px;
}

.button li {
  margin-right: 8px;
}

.button {
  min-width: 73px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding-top: 0;
  padding-bottom: 0;
}

.button__portfolio {
  color: var(--title-text-color);
  background-color: var(--light-grey);
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__portfolio:hover, .button__portfolio:focus {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card {
  display: flex;
  flex-wrap: wrap;
}

.card li {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card li:hover, .card li:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card li:nth-child(3n) {
  margin-right: 0;
}
.card li:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.card li:hover .overlay__text {
  transform: translateY(0);
}
.card li:hover .card__transform {
  transform: translateY(0);
}

.card__overlay {
  position: relative;
  overflow: hidden;
}

.card__transform {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  top: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primery-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__hero {
  padding: 20px 24px;
}
.card__hero:hover .card__transform {
  transform: translateY(0);
}

.card__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */