.hero {
    min-width: 480px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/header_tel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--primery-color);
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    
    @include tablet {
        background-image: linear-gradient(to right,
             rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/header_tablet.jpg);
    }
    @include desctop {
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/fon.jpg);
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.hero__title {  
   color: var(--primery-white-color);
   min-width: 360px;
   min-height: 84px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: 60px;
    margin-right: 60px;

    @include desctop{
    font-size: 44px;
    }
}
